<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title> E-commerce product card responsive v.2 -  Bootstrap 5 Example </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Demo CSS (No need to include it into your project) -->
    <link rel="stylesheet" href="/css/demo.css">
    <link rel='stylesheet' href='/css2/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
 </head>