.form-control{
    margin:1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea{
    display:block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea
{
    font:inherit;
    border:1px solid #f8e90f;
    border-radius:2px;
}
.product-form{
    width:20rem;
    max-width: 100%;
    margin: auto;
}

button{
    font: inherit;
    border:1px solid #031750;
    background-color: #f1c939;
    color:  #031750;
    border-radius: 3px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
